mixin service-types(data, className)
  section.service-types(class= (className) ? className : '')
    .container
      .service-types__wrapper
        h2.service-types__title.title-line.title-center #{data.title}
        .service-types__inner
          each item in data.cards
            .service-types__item
              .service-types__col.service-types__col--media
                +img(item.img)(class= "service-types__img", width="217px", height="112px")
              .service-types__col.service-types__col--text
                h3.service-types__name #{item.title}
                p.service-types__text #{item.description}

mixin serviceTypesList(data, className)
  section.service-types.service-types--list(class= (className) ? className : '')
    .container
      .service-types__wrapper
        h2.service-types__title.title-line #{data.title}
        ul.service-types__list
          each item in data.cards
            li.service-types__item
              h3.service-types__name #{item.title}
              p.service-types__text #{item.description}
              button.service-types__button #{data.btnText}
