mixin hero(data)
  section.hero
    .hero__container
      .hero__wrapper
        .hero__col.hero__col--text
          .hero__inner
            .hero__desc
              h1.hero__title= data.title
              p.hero__subtitle= data.subTitle
              button.hero__btn.btn.btn-booking Записаться на ремонт
            .hero__dots
              .icon-dots
          if data.isBenefits == true
            .hero__benefits
              each item in data.benefits
                .hero__benefits-col(class=`hero__benefits-col--${item.icon}`)
                  +icon-mono(`${item.icon}`)
                  span= item.text

        .hero__col.hero__col--media
          +imgAdaptive(data.image)(class="hero__img", alt="Центр удаления вмятин Автомастер77")
