mixin serviceAboutFramed(data)
  section.service-about
    .service-about__wrapper
      .service-about__col
        .service-about__content
          h2.service-about__title.title-line.title-line--grey #{data.primaryTitle}
          .service-about__description
            each text in data.primaryDescription
              p #{text}
      .service-about__col
        .service-about__content
          .framed-content
            .framed-content__wrapper
              h2.framed-content__title #{data.secondaryTitle}
              if (data.secondaryDescription)
                p #{data.secondaryDescription}
              else if (data.secondaryList)
                ul.framed-content__list
                  each text in data.secondaryList
                    li.framed-content__item #{text}

mixin serviceAboutImage(data)
  section.service-about
    .service-about__wrapper
      .service-about__col
        .service-about__container
          h2.title-line.title-line--grey #{data.title}
          .service-about__description
            each text in data.description
              p #{text}
      .service-about__col
        .service-about__framed-content
          //- block secContent

mixin serviceAboutSlider(data)
  section.service-about
    .service-about__wrapper
      .service-about__col
        .service-about__container
          h2.title-line.title-line--grey #{data.title}
          .service-about__description
            each text in data.description
              p #{text}
      .service-about__col
        .service-about__framed-content
          //- block secContent
