header.site-header#masthead
  .container
    .site-header__wrapper
      .site-header__top#top-bar
        .site-header__address
          +icon-mono('location-outline')(width="18px", height="18px")
          span.visually-hidden Адрес:
          | #{siteAddress}
        .site-header__working-hours
          +icon-mono('clock')(width="18px", height="18px")
          span.visually-hidden Время работы:
          | #{siteWorkingHours.weekdays}; #{siteWorkingHours.saturday}
        .site-header__phone
          a(href= sitePhoneLink)
            +icon-mono('phone')(width="18px", height="18px")
            | #{sitePhone}
        .site-header__messengers
          a.site-header__messenger.site-header__messenger--whatsapp(href= siteWhatsapp, title="Мы в WhatsApp")
            +icon-mono('whatsapp-outline')(width="23", height="23")

          a.site-header__messenger.site-header__messenger--telegram(href= siteTelegram, title="Мы в Telegram")
            +icon-mono('telegram')(width="23", height="23")

      .site-header__main#header-main
        button.site-header__burger.menu-burger(aria-label="Открыть меню")
          span.menu-burger__icon

        .site-header__logo
          a.custom-logo-link(href= siteNav[0].url)
            span.custom-logo #{siteName}

        .site-header__nav
          nav.nav#site-nav-main
            +nav(siteNav, url)

        button.site-header__callback.btn.btn--stroke.btn--white.btn--small Обратный звонок

        a.site-header__call(href= sitePhoneLink, aria-label="Номер телефона")
          +icon-mono('phone')(width="18", height="18")
          span.visually-hidden #{sitePhone}
