mixin blogArticleText(data)
  .page-blog__text
    header.blog-article__header
      h2.title-line.title-line--grey
        a(href= "/post.html") #{data.title}
      .blog-article__meta.blog-meta
        .blog-meta__item.blog-meta__item--date
          +icon-mono('clock-basic')(class="blog-article__icon", width="24px", height="24px")
          span.visually-hidden Дата публикации: #{' '}
          | #{data.date}
        .blog-meta__item.blog-meta__item--category
          +icon-mono('folder')(class="blog-article__icon", width="24px", height="24px")
          span.visually-hidden Категория: #{' '}
          a.blog-meta__link(href="/blog.html") #{data.category}
    .blog-article__description
      p #{data.desc}

mixin blogArticleMedia(data)
  .page-blog__media
    if (data.video)
      .youtube-video
        a.youtube-video__inner(href= `https://youtu.be/${data.video}`, target="_blank")
          +img(`large/${data.src}`, data.title)(class="youtube-video__img")
        button.btn-play(aria-label="Смотреть", tabindex="0")
          +icon-mono('play')(width="21px", height="26px")
    else
      a(href= data.url)
        +img(`large/${data.src}`, data.title)(class="page-blog__img")

mixin blogArticle(data)
  article.page-blog__article(class= data.video ? 'page-blog__article--video' : '')
    +blogArticleMedia(data)
    +blogArticleText(data)

.entry-header
  .container
    h1.title.title-line #{pageTitle}
.entry-content
  .container
    .page-blog__main
      .page-blog__wrapper
        each item, key in articles.reverse()
          if (key < 6)
            +blogArticle(item)
      +pagination
